<div class="thumbnail">
  <%= image_tag ( product.image_url || "http://via.placeholder.com/350x150" )%>
  <div class="caption">
    <h3><%= product.id  %> <%=  product.name %> </h3>
    <h5> 類別: <%= product.subcategory.name_with_category %></h3>
    <p><%= product.description %></p>

    <% if current_user %>
      <div>
        <%= link_to "edit", edit_product_path(product),class: 'btn btn-primary' %>
        <%= link_to "Delete", product_path(product),
                              method: :delete,
                              class: "btn btn-danger",
                              data: { confirm: "Are you sure?" } %>
        <%#= link_to "Delete", "products/#{product.id}",..... %>
        <!-- 一樣意思 -->
      </div>
    <% end %>
  </div>
</div>
