<div class="container">
  <div class="row">
      <div class="col-xs-3">
        <ul class="list-group">
          <li class="list-group-item">
            Category1
            <ul class="list-group">
              <li class="list-group-item">Sub Category</li>
              <li class="list-group-item">Sub Category</li>
              <li class="list-group-item">Sub Category</li>
            </ul>
          </li>
          <li class="list-group-item">
            Category2
            <ul class="list-group">
              <li class="list-group-item">Sub Category</li>
              <li class="list-group-item">Sub Category</li>
              <li class="list-group-item">Sub Category</li>
            </ul>
          </li>
          <li class="list-group-item">
            Category3
            <ul class="list-group">
              <li class="list-group-item">Sub Category</li>
              <li class="list-group-item">Sub Category</li>
              <li class="list-group-item">Sub Category</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-xs-9">
        <div class="row">
          <div class="col-xs-12">
            <div class="jumbotron">
              <h1><%= @ad[:title] %></h1>
              <p><%= @ad[:description] %></p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button"><%= @ad[:action_title] %></a></p>
            </div>
          </div>
        </div>
        <div class="row">
          <% @products.each_with_index do |product, index| %>
            <div class="col-xs-3">
              <div class="thumbnail">
                <%= image_tag "#{product[:image_url]}" %>
                <div class="caption">
                  <h3><%= "#{index}." + product[:name] %></h3>
                  <p><%= product[:description] %></p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
