<h3>編輯商品</h3>
<%= form_for @product, method: :put do |f| %>
  <%= f.label :name, "名稱" %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :description, "敘述" %>
  <%= f.text_field :description %>
  <br>

  <%= f.label :image_url, "圖片連結" %>
  <%= f.text_field :image_url %>
  <br>

  <%= f.label :price, "價格" %>
  <%= f.number_field :price%>
  <br>

  <%= f.label :subcategory_id, "副類別" %>
  <%= f.select("subcategory_id", Subcategory.all.collect {|s| [ s.name, s.id ] }, {include_blank: 'None'}) %>
  <br>

  <%= f.submit "更新"%>
<% end %>
