<div class="container">
  <div class="row">
      <div class="col-xs-3">
        <ul class="list-group">
          <li class="list-group-item">
            Category1
            <ul class="list-group">
              <li class="list-group-item">Sub Category</li>
              <li class="list-group-item">Sub Category</li>
              <li class="list-group-item">Sub Category</li>
            </ul>
          </li>
          <li class="list-group-item">
            Category2
            <ul class="list-group">
              <li class="list-group-item">Sub Category</li>
              <li class="list-group-item">Sub Category</li>
              <li class="list-group-item">Sub Category</li>
            </ul>
          </li>
          <li class="list-group-item">
            Category3
            <ul class="list-group">
              <li class="list-group-item">Sub Category</li>
              <li class="list-group-item">Sub Category</li>
              <li class="list-group-item">Sub Category</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-xs-9">
        <div class="row">
          <div class="col-xs-12">
            <div class="jumbotron">
              <h1><%= @ad[:title] %></h1>
              <p><%= @ad[:description] %></p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button"><%= @ad[:action_title] %></a></p>
            </div>
          </div>
        </div>
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-xs-3">
              <div class="thumbnail">
                <%= image_tag "#{product.image_url}" %>
                <div class="caption">
                  <h3><%= product.id  %> <%=  product.name %> </h3>
                  <p><%= product.description %></p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <% if @current_page_number > @first_page_number %>
                  <li>
                    <%= link_to '<span aria-hidden="true">&laquo;</span>'.html_safe,
                    root_path(current_page: (@current_page_number-1)), 'aria-label': "Previous" %>
                  </li>
                <% end %>
                <% (@first_page_number..@last_page_number).each do |page_number| %>
                  <li><%= link_to "#{page_number}", root_path(current_page: page_number) %></li>
                <% end%>
                <% if @current_page_number < @last_page_number %>
                  <li>
                    <%= link_to '<span aria-hidden="true">&raquo;</span>'.html_safe,
                    root_path(current_page: (@current_page_number+1)), 'aria-label': "Previous" %>
                  </li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
  </div>
</div>
