<h3>create product</h3>
<%= form_for @product, method: :post  do |f| %>
  <%= f.label :name, "名稱" %>
  <%= f.text_field :name %><br>

  <%= f.label :price, "價錢" %>
  <%= f.number_field :price %><br>

  <%= f.label :description, "描述" %>
  <%= f.text_field :description %><br>

  <%= f.label :image_url, "圖片" %>
  <%= f.text_field :image_url %><br>

  <%= f.label :subcategory, "副類別" %>
  <%= f.select("subcategory_id", Subcategory.all.collect {|s| [ s.name_with_category, s.id ] }, {include_blank: 'None'}) %><br>
  <%= f.submit "更新" %>
<% end %>
